{% extends "base.html" %}
{% block title %}View Adjectives{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for('static', filename='css/view-graph.css'
      )}}/>
<script type="text/javascript" src={{url_for('static',
        filename='js/view-adjectives.js' )}}></script>
<script type="text/javascript" src={{url_for('static', filename='js/d3.min.js'
        )}}></script>
{% endblock %}

{% block content %}

<h4 class="text-center">
    Clustering around "<span id="src_adj">{{ src_adj }}</span>" with <span id="size">{{ size }}</span> edge(s).
</h4>
<h5 class="text-center"><span class="label label-default">Instructions</span>
    Hover over edges to see what connects the source and target, and right click on a node to cluster around it!
    <span id="error" style="color:red"></span>
</h5>
<div class="container-fluid" style="width:600px; margin-left:auto; margin-right:auto;text-align: center">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">Cluster around</label>
            <input id="newAdjSrc" type="text" value="{{ src_adj }}"
                   class="form-control" aria-label="Text input"
                   style="width:150px">
        </div>
        <b>with</b>
        <div class="form-group">
            <input id="newSize" type="number" value="{{ size }}"
                   class="form-control" aria-label="Mumber input"
                   style="width:100px">
            <label class="control-label">edge(s)</label>
        </div>
        <div class="form-group">
            <button id="goButton" type="button" class="btn btn-default">Go!
            </button>
        </div>
    </div>
</div>
<div style="position:absolute; left:0px; bottom: 65px; top:180px;width:100%;">
    <div id="graphSpace" class="graphSpace"></div>
</div>

{% endblock %}