{% extends "base.html" %}
{% block title %}View Adjective Subgraph{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href={{url_for('static', filename='css/view-graph.css')}} />
    <script type="text/javascript" src={{url_for('static', filename='js/view-adjective-subgraph.js')}}></script>
    <script type="text/javascript" src={{url_for('static', filename='js/d3.min.js')}}></script>
{% endblock %}
{% block content %}

<h4 class="text-center">
    Clustering around <i><span class="adj_list" id="{{ adj_list }}">{{ adj_list_string }}</span></i>.
</h4>
<h5 class="text-center"><span class="label label-default">Instructions</span>
    Hover over edges to see what connects the source and target!
    <span id="error" style="color:red"></span>
</h5>

<div class="container-fluid" style="width:600px; margin-left:auto; margin-right:auto;text-align: center">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">Find shortest path subgraph containing </label>
            <input id="newAdjSrc" type="text" value="{{ adj_list_string }}" class="form-control" aria-label="Text input">
        </div>
        <div class="form-group">
            <button id="goButton" type="button" class="btn btn-default">Go!</button>
        </div>
    </div>
</div>
<div style="position:absolute; left:0px; bottom: 65px; top:180px;width:100%;">
    <div id="graphSpace" class="graphSpace"></div>
</div>

{% endblock %}