html, body {
	height: 100%;
}


#content {
	min-height: 90%;
  	overflow: visible;
  	padding-bottom: 51px; /* this needs to be bigger than footer height*/
}

#footer {
  	position: relative;
 	text-align: center;
  	margin-top: -50px; /* negative value of footer height */
  	height: 50px;
  	padding-top:20px;
  	
} 